
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h1>{{title}}</h1>
<ul>
{% for post in posts %}
<!-- {{post.get_absolute_url}} -->

	<a href='{% url "posts:detail" id=post.id %}'>Seee Details</a>
	<!-- <a href='{{post.get_absolute_url}}'>Seee Details</a -->>
	<li><span>{{post.title}}</span> <span>{{post.content}}</span></li>
	<li><span>{{post.created}}</span> <span>{{post.updated}}</span></li>
	<br>

{% endfor %}
</ul>
</body>
</html>

{% extends "layout/base.html" %}

{% block content %}

<h1>Hello</h1>

{%endblock%}

